[Desktop Entry]
Name=Flrig (_RIGHT_RADIO_)
GenericName=Amateur Radio Rig Control
Comment=Amateur Radio Communications
Exec=sh -c '/usr/local/trim-flrig-log.sh "yesterday";flrig --debug-level 0 --config-dir /home/pi/.flrig-right'
Icon=flrig
Terminal=false
Type=Application
Categories=HamRadio;
NoDisplay=true
