[Desktop Entry]
Name=Radio PTT Monitor
GenericName=Radio PTT Monitor
Comment=Shows your radio(s) TX and RX state
Exec=/usr/local/bin/radio-monitor.py
Icon=/usr/share/icons/Adwaita/32x32/devices/display-projector-symbolic.symbolic.png
Terminal=false
Type=Application
Categories=HamRadio;
Comment[en_US]=Radio PTT Monitor